global_defs {
   router_id {{ inventory_hostname }}
}

vrrp_instance VI_1 {
    state {{ keepalived_state }}
    interface enp0s3
    virtual_router_id 51
    priority {{ keepalived_priority }}
    advert_int 1

    unicast_src_ip {{ ansible_host }}
    unicast_peer {
        {% for host in groups['vms'] %}
        {% if hostvars[host]['ansible_host'] != ansible_host %}
        {{ hostvars[host]['ansible_host'] }}
        {% endif %}
        {% endfor %}
    }

    authentication {
        auth_type PASS
        auth_pass maya2026
    }

    virtual_ipaddress {
        192.168.51.10/32
    }
}
